<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    <style>
        * {
            font-family: "Arial", sans-serif;
        }

        .date {
            font-style: italic;
            font-weight: lighter;
            font-size: 80%;
        }
    </style>
</head>
<body>
{% for section in news -%}
    <h1>{{ section.header }}</h1>
    <h3>{{ section.description }}</h3>
    <p>{{ section.content }}</p>
    <p class="date">{{ section.date }}</p>
    <br>
{% endfor %}
</body>
</html>